## Exploring Gapminder datasets

In [1]:
import numpy as np
import pandas as pd

In [2]:
!ls

employment_above_15.csv     life_expectancy.csv       Untitled.ipynb
female_completion_rate.csv  male_completion_rate.csv
gdp_per_capita.csv	    table_descriptions.txt

In [20]:
sr = pd.read_csv('employment_above_15.csv', index_col='Country')
sr.loc['Brazil']

1991    56.099998
1992    59.500000
1993    60.099998
1994    60.599998
1995    61.099998
1996    60.400002
1997    60.700001
1998    60.500000
1999    60.700001
2000    61.200001
2001    61.500000
2002    62.400002
2003    62.000000
2004    63.299999
2005    63.200001
2006    64.000000
2007    64.500000
Name: Brazil, dtype: float64

In [23]:
df = pd.read_csv('life_expectancy.csv')
df.head()

,Country,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Afghanistan,28.2110,28.200753,28.190507,28.18026,28.170013,28.159767,28.14952,28.139273,28.129027,...,52.5,52.9,53.2,53.6,54.0,54.5,54.8,55.2,55.5,56.2
1,Albania,35.4000,35.400000,35.400000,35.40000,35.400000,35.400000,35.40000,35.400000,35.400000,...,74.4,74.4,74.5,74.7,74.9,75.0,75.2,75.5,75.7,75.8
2,Algeria,28.8224,28.822400,28.822400,28.82240,28.822400,28.822400,28.82240,28.822400,28.822400,...,74.2,74.5,74.8,75.0,75.3,75.6,75.9,76.1,76.2,76.3
3,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,83.0,83.1,83.2,83.4,83.5,83.6,83.7,83.8,83.8,83.9

In [24]:
# Country with highest life expectancy by 2013

df[df['2013'] == np.max(df['2013'])]

,Country,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
4,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,83.0,83.1,83.2,83.4,83.5,83.6,83.7,83.8,83.8,83.9

In [25]:
# Country with less relative improvement in life expectancy between 1998 and 2013

df[(df['2013'] - df['1998'])/df['1998'] == min((df['2013'] - df['1998'])/df['1998'])]

,Country,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
119,Lesotho,32.8,32.8,32.8,32.8,32.8,32.8,32.8,32.8,32.8,...,44.8,44.1,44.0,44.4,45.2,46.3,47.4,48.3,48.2,48.3